{
  "env":{
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel", "minify"]
    },
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs"]
      ],
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  },
  "ignore": ["node_modules"],
  "comments": false
}