*
!.github
!docs
!docs/*
!*.json
!*.js
!*.ts
*.d.ts
!*.tsx
!src/app-dir
!examples
!examples/**/*
!src
!__tests__
!.babelrc
!.husky
!.husky/*
!.prettierignore

.DS_Store

# dependencies
/node_modules
/examples/*/node_modules
/examples/*/yarn.lock

# next.js internal files
out
/.next/
/examples/*/.next/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode
.vscode
