# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/examples/static-site/node_modules

/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/examples/static-site/.next/

/out/

# production
/build

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build pages
/pages
/examples/static-site/pages
