# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/examples/*/node_modules

out

# next.js
/.next/
/examples/*/.next/

/out/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lib build
*
!.github
!docs
!*.json
!*.js
!*.ts
!*.tsx
!src/plugin
!examples
!src
!__tests__
!.babelrc
!.prettierignore


.vscode